html, body {
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: #343a40 !important;
    }

    h1 {
        color: #f8f9fa !important;
    }
}
