<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oberlin Campus Directory</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/campus-directory.css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container d-flex flex-column justify-content-center min-vh-100">
    <div class="row flex-grow-1 my-5">
        <div class="col text-center">
            <h1>Oberlin Campus Directory</h1>
        </div>
    </div>

    <div class="row align-self-center">
        <div class="col">
            <div class="card text-center my-auto bg-light"
                 style="max-width: 19rem;">
                <div class="card-body text-dark">
                    <h3 class="card-title">Perform a search</h3>
                    <form action="{{ url_for('search') }}">
                        <div class="form-group">
                            <input type="text" name="q" required id="query"
                                   class="form-control form-control-lg"
                                   spellcheck="false" autofocus
                                   placeholder="Name or ObieI&#8288;D…">
                        </div>
                        <button class="btn btn-primary btn-lg btn-block">Go
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row flex-grow-1 my-5"></div>
</div>
</body>
</html>