<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ (query + ' at ') if query }}Oberlin Campus Directory</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" href="/static/campus-directory.css">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<div class="container min-vh-100">
    <div class="row align-self-center py-3">
        <div class="col">
            <div class="card text-center my-auto bg-light">
                <div class="card-body text-dark">
                    <form action="{{ url_for('search') }}">
                        <div class="row">
                            <div class="col col-md-10">
                                <input type="text" name="q" required
                                       id="query"
                                       class="form-control"
                                       placeholder="Name or ObieI&#8288;D…"
                                       spellcheck="false"
                                       value="{{ query }}">
                            </div>
                            <div class="col col-md-2 col-4">
                                <button class="btn btn-primary btn-block">
                                    Go
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        function retryImage(id) {
            const img = document.getElementById(id);
            const username = img.getAttribute('data-username');
            const new_username = endsInNum(username) ?
                inc(username) : username + "2";
            img.setAttribute('data-username', new_username);
            img.src = formatUrl(new_username);
        }

        function resetImage(id) {
            const img = document.getElementById(id);
            const oldUsername = img.getAttribute('data-username');
            const username = oldUsername.replace(/[0-9]/, "");
            if (oldUsername !== username) {
                img.setAttribute('data-username', username);
                img.src = formatUrl(username);
            } else {
                img.parentNode.removeChild(img);
            }
        }

        function endsInNum(s) {
            return s.charAt(s.length - 1).match(/[0-9]/);
        }

        function inc(username) {
            let num_ind;
            for (num_ind = 0;
                 num_ind < username.length &&
                 !username.charAt(num_ind).match(/[0-9]/);
                 num_ind++) ;
            const num = parseInt(username.substring(num_ind)) + 1;
            return username.substring(0, num_ind) + num.toString();
        }

        function formatUrl(username) {
            return "https://octet1.csr.oberlin.edu/octet/Bb/Photos/expo/" + username
                + "/profileImage";
        }
    </script>
    <div class="row align-self-center justify-content-md-center mx-auto align-items-end">
        {% set ns = namespace(empty=true) %}
        {% for entry in results %}
            {% set uname = username(entry['name']) %}
            {% set ns.empty = false %}
            <div class="col col-md-auto">
                <div class="card my-3 bg-light" style="max-width: 20rem;">
{#                    <img src="https://octet1.csr.oberlin.edu/octet/Bb/Photos/expo/{{ uname }}/profileImage"#}
{#                         class="card-img-top"#}
{#                         title="Wrong image? Click to try again."#}
{#                         id="profile-{{ entry['name'] }}"#}
{#                         onclick="retryImage('profile-{{ entry['name'] }}')"#}
{#                         onerror="resetImage('profile-{{ entry['name'] }}')"#}
{#                         data-username="{{ uname }}">#}
                    <div class="card-body">
                        <h5 class="card-title">{{ entry['name'] }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ entry['type'] }}</h6>
                        <ul class="card-text">
                            {% for key in ('title', 'mail', 'email', 'phone') %}
                                {% if key in entry %}
                                    <li><b>{{ key | title }}</b>:
                                        {% if '@oberlin.edu' in entry[key] %}
                                            <a href="mailto:{{ entry[key] }}">{{ entry[key] }}</a>
                                        {% else %}
                                            {{ entry[key] }}
                                        {% endif %}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if ns.empty %}
            <div class="col col-md-auto text-center my-5">
                No results.
            </div>
        {% endif %}
    </div>
</div>
</body>
</html>
